<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<div th:each="person:${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getFullName()+ ', ' + person.getBornYear()}">user</a>
</div>

<br/>
<hr/>


<form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="Добавить нового человека">
</form>

<br/>
<hr/>

<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="Книги">
</form>


</body>
</html>